In [1]:
import pandas as pd

In [4]:
AIR = pd.read_csv('air_quality_no2.csv')
AIR

                 datetime  station_antwerp  station_paris  station_london
0     2019-05-07 02:00:00              NaN            NaN            23.0
1     2019-05-07 03:00:00             50.5           25.0            19.0
2     2019-05-07 04:00:00             45.0           27.7            19.0
3     2019-05-07 05:00:00              NaN           50.4            16.0
4     2019-05-07 06:00:00              NaN           61.9             NaN
...                   ...              ...            ...             ...
1030  2019-06-20 22:00:00              NaN           21.4             NaN
1031  2019-06-20 23:00:00              NaN           24.9             NaN
1032  2019-06-21 00:00:00              NaN           26.5             NaN
1033  2019-06-21 01:00:00              NaN           21.8             NaN
1034  2019-06-21 02:00:00              NaN           20.0             NaN

[1035 rows x 4 columns]

In [5]:
datetime = AIR['datetime']

datetime

0       2019-05-07 02:00:00
1       2019-05-07 03:00:00
2       2019-05-07 04:00:00
3       2019-05-07 05:00:00
4       2019-05-07 06:00:00
               ...
1030    2019-06-20 22:00:00
1031    2019-06-20 23:00:00
1032    2019-06-21 00:00:00
1033    2019-06-21 01:00:00
1034    2019-06-21 02:00:00
Name: datetime, Length: 1035, dtype: object

In [7]:
stationantwerp = AIR['station_antwerp']	
stationantwerp

0        NaN
1       50.5
2       45.0
3        NaN
4        NaN
        ...
1030     NaN
1031     NaN
1032     NaN
1033     NaN
1034     NaN
Name: station_antwerp, Length: 1035, dtype: float64

In [8]:
station_paris = AIR['station_paris']
station_paris

0        NaN
1       25.0
2       27.7
3       50.4
4       61.9
        ...
1030    21.4
1031    24.9
1032    26.5
1033    21.8
1034    20.0
Name: station_paris, Length: 1035, dtype: float64

In [9]:
station_london = AIR['station_london']
station_london

0       23.0
1       19.0
2       19.0
3       16.0
4        NaN
        ...
1030     NaN
1031     NaN
1032     NaN
1033     NaN
1034     NaN
Name: station_london, Length: 1035, dtype: float64

In [10]:
AIR.to_excel('AIR.xlsx', sheet_name= 'Name', index=False)

In [11]:
AIR = pd.read_excel('AIR.xlsx', sheet_name= 'Name')